<h1>Editing Outfit</h1>

<%= render 'form', outfit: @outfit %>

<%= link_to 'Show', @outfit %> |
<%= link_to 'Delete', @outfit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
