<%= render 'header' %>

<% @outfits.in_groups_of(4).each do |group| %>
  <div class='row mb-5'>
    <% group.each do |outfit| %>
      <div class='col-12 col-md-3'>
        <% if outfit.present? %>
          <%= link_to image_tag_for(outfit, class: 'mb-3'), outfit %>
        <% end %>
      </div><!-- .col -->
    <% end %>
  </div><!-- .row -->
<% end %>
