<% if current_user %>
    <p>Welcome, <%= current_user.user_name %>.</br>Let's find the perfect outfit for you.</p>
<% else %>
  <div class="my-5 text-center">
    <h1><%= link_to_unless_current "DressMe", root_path %></h1>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
    <%= link_to "Sign In", login_path, class: "btn btn-primary" %>
  </div>
<% end %>
