<h2 class="row justify-content-md-center mt-5 mb-3">
  Sign up and use DressMe today
</h2>

<div class="row justify-content-md-center mt-5 mb-3">
 <ul class="col-12 col-md-6">
    <li>Upload images and descriptions of each piece in your wardrobe. </li>
    <li>Create and save outfit combos you love. </li> 
    <li>Add items you want to your wishlist. </li> 
  </ul>
</div>