<p>
  <h1><%= @piece.name %></h1>
</p>
<p>
  <% @piece.images.each do |image| %>
    <div>
      <%= image_tag image %>
    </div>
  <% end %>
</p>

<p>
  <div>
    <% @piece.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_piece_path(@piece), class: 'btn btn-primary' %>
