<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>
<p>
  <strong>Uploaded Photo:</strong>
    <% @piece.images.each do |image| %>
    <div>
      <%= image_tag image %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %>
