<h1 class='font-weight-light'>
  <%= link_to 'Tags', tags_path %>:

  <%= @tag.name %>
</h1>

<hr>

<% @items.in_groups_of(4).each do |group| %>
  <div class='row mb-4'>
    <% group.each do |image, item| %>
      <div class='col'>
        <% if item.present? %>
          <%= link_to image_tag(image.variant(auto_orient: true)), item %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
