<div class='form-group mb-4'>
  <%= form.label :tags %><br>
  <%= text_field_tag :tags, resource.tags.map {|tag| tag.name }.join(', '), class: 'form-control form-control-lg' %>

  <p class='form-text text-muted'>
    Comma separated. Example: <code>black, ball gown, shiny</code>
  </p>
</div>
