label {
  font-weight: bold;
}

input[type=file]::-webkit-file-upload-button {
  @extend .btn;
  @extend .btn-outline-primary;
}

.range-wrapper {
  width: 75%;
  display: inline-block;
  margin-right: 10px;
}

input[type=radio] + label {
  @extend .btn;
  @extend .btn-outline-secondary;
}

input[type=radio]:checked + label {
  @extend .btn;
  @extend .btn-dark;
}
